header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 2px 4px 8px rgba(33, 40, 50, 0.15);
  z-index: 40;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px;
  font-weight: 500;
}

.header a {
    color: black;
}

.header nav a {
    padding: 16px 20px;
}

.header a:hover {
    color: var(--color-primary);
}

.header .btn-outline-primary {
    margin-left: 30px;
}

.header .menu-btn {
  display: none;
  color: black;
  font-size: 20px;
}

.header-mobile {
  background-color: white;
  width: 300px;
  height: 100%;
  font-weight: 500;
}

.header-mobile nav{
  display: flex;
  flex-direction: column;
}

.header-mobile .login-nav {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-mobile .avatar-container {
  flex-direction: row;
  align-items: center;
}

.header-mobile .close-icon {
  font-size: 32px;
}

.header-mobile nav a {
  display: block;
  padding: 20px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  color: black;
}

.nav-active {
  color: var(--color-primary) !important;
}

@media (max-width: 1023px) {
  .header nav{
    display: none;
  }
  .header .login-nav {
    display: none;
  }
  .header .menu-btn {
    display: block;
  }
}