table {
    border-collapse: collapse;
    width: 1100px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.td-bold {
    font-weight: bold;
}

.up-table{
    display: flex;
    justify-content: space-between;
    margin-right: -20px;
}

.btn_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnContainer form {
    display: flex;
}

.btn-backgound {
    background-color: transparent;
    color: white
}

.addNewBtn{
    margin-top: 10px;
    margin-left: 20px;
}

.btnContainer{
    display: flex;
    margin-right: 10px;
}

.btnL{
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
}

.btnD{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
}

.btnD:hover{
    cursor: pointer;
    background-color: gray;
}

.btnD>a{
    text-decoration: none;
    color: white;
}

.btnL:hover{
    cursor: pointer;
    background-color: gray;
}

.btnL a{
    text-decoration: none;
    color: white;
}

.btn-delete {
    background-color: red;
}

.btn-delete:hover {
    background-color: red;
    opacity: 0.7;
}